p { color: green; }

@media (max-width: 8.5in) { p { color: blue; } }@media (max-width: 5.0in) { p { color: red ; } }
@media (max-width: 8.5in) { article { grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr; }}


article {    
  display: grid;    
  grid-template-columns: 1fr 0.5in [start] 7.5in [end] 0.5in 1fr;
  height: 11in; 
  /* temp fix */
}

article * { 
  grid-column: start / end; 
}



